**/.DS_Store
**/._.DS_Store
**/._*
**/._.contentVisibility
**/EFI/OC/Drivers/._.DS_Store
**/EFI/OC/Kexts/._.DS_Store
**/EFI/OC/Resources/Image/._Acidanthera
**/EFI/OC/Resources/Label/._Apple.l2x
**/EFI/OC/Resources/Label/._Apple.lbl
**/EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/._AppleALC
**/EFI/OC/Kexts/._AppleALC.kext
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._AppleRecv.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._AppleRecv.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._AppleRecv.icns
**/EFI/OC/Resources/Label/._AppleRecv.l2x
**/EFI/OC/Resources/Label/._AppleRecv.lbl
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._AppleTM.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._AppleTM.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._AppleTM.icns
**/EFI/OC/Resources/Label/._AppleTM.l2x
**/EFI/OC/Resources/Label/._AppleTM.lbl
**/EFI/OC/Resources/._Audio
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ar_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_Beep.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ca_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_Click.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_cs_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_da_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_de_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_el_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_en_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_419_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_MX_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_es_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fi_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_fr_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_he_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hi_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_hu_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_id_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_it_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ja_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ko_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_nl_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_no_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pl_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_PT_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_pt_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ro_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_ru_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sk_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_sv_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_th_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_tr_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_VoiceOver_Boot.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_CN_VoiceOverOn.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_AccountLocked.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_AccountLockedTryLater.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_Password.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_Username.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_UsernameOrPasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_VoiceOverOff.mp3
**/EFI/OC/Resources/Audio/._AXEFIAudio_zh_TW_VoiceOverOn.mp3
**/EFI/OC/Tools/._BootKicker.efi
**/._BOOTx64.efi
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._BtnFocus.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._BtnFocus.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._BtnFocus.icns
**/EFI/OC/Resources/Image/Acidanthera/._Chardonnay
**/EFI/OC/Tools/._ChipTune.efi
**/EFI/OC/Tools/._CleanNvram.efi
**/EFI/OC/Kexts/AppleALC.kext/._Contents
**/EFI/OC/Kexts/IntelMausi.kext/._Contents
**/EFI/OC/Kexts/Lilu.kext/._Contents
**/EFI/OC/Kexts/SMCProcessor.kext/._Contents
**/EFI/OC/Kexts/SMCSuperIO.kext/._Contents
**/EFI/OC/Kexts/USBInjectAll.kext/._Contents
**/EFI/OC/Kexts/VirtualSMC.kext/._Contents
**/EFI/OC/Kexts/WhateverGreen.kext/._Contents
**/EFI/OC/Tools/._ControlMsrE2.efi
**/EFI/OC/Tools/._CsrUtil.efi
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Cursor.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Cursor.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Cursor.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Dot.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Dot.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Dot.icns
**/EFI/OC/Resources/Label/._EFIBoot.l2x
**/EFI/OC/Resources/Label/._EFIBoot.lbl
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Enter.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Enter.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Enter.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._ExtAppleRecv.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._ExtAppleRecv.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._ExtAppleRecv.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._ExtAppleTM.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._ExtAppleTM.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._ExtAppleTM.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._ExtHardDrive.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._ExtHardDrive.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._ExtHardDrive.icns
**/EFI/OC/Resources/._Font
**/EFI/OC/Resources/Font/._Font_1x.bin
**/EFI/OC/Resources/Font/._Font_1x.png
**/EFI/OC/Resources/Font/._Font_2x.bin
**/EFI/OC/Resources/Font/._Font_2x.png
**/EFI/OC/Tools/._FontTester.efi
**/EFI/OC/Resources/Image/Acidanthera/._GoldenGate
**/EFI/OC/Tools/._GopStop.efi
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._HardDrive.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._HardDrive.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._HardDrive.icns
**/EFI/OC/Resources/._Image
**/EFI/OC/Kexts/AppleALC.kext/Contents/._Info.plist
**/EFI/OC/Kexts/IntelMausi.kext/Contents/._Info.plist
**/EFI/OC/Kexts/Lilu.kext/Contents/._Info.plist
**/EFI/OC/Kexts/SMCProcessor.kext/Contents/._Info.plist
**/EFI/OC/Kexts/SMCSuperIO.kext/Contents/._Info.plist
**/EFI/OC/Kexts/USBInjectAll.kext/Contents/._Info.plist
**/EFI/OC/Kexts/VirtualSMC.kext/Contents/._Info.plist
**/EFI/OC/Kexts/WhateverGreen.kext/Contents/._Info.plist
**/EFI/OC/Kexts/IntelMausi.kext/Contents/MacOS/._IntelMausi
**/EFI/OC/Kexts/._IntelMausi.kext
**/EFI/OC/Tools/._KeyTester.efi
**/EFI/OC/Resources/._Label
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Left.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Left.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Left.icns
**/EFI/OC/Kexts/Lilu.kext/Contents/MacOS/._Lilu
**/EFI/OC/Kexts/._Lilu.kext
**/EFI/OC/Tools/._ListPartitions.efi
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Lock.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Lock.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Lock.icns
**/EFI/OC/Kexts/AppleALC.kext/Contents/._MacOS
**/EFI/OC/Kexts/IntelMausi.kext/Contents/._MacOS
**/EFI/OC/Kexts/Lilu.kext/Contents/._MacOS
**/EFI/OC/Kexts/SMCProcessor.kext/Contents/._MacOS
**/EFI/OC/Kexts/SMCSuperIO.kext/Contents/._MacOS
**/EFI/OC/Kexts/USBInjectAll.kext/Contents/._MacOS
**/EFI/OC/Kexts/VirtualSMC.kext/Contents/._MacOS
**/EFI/OC/Kexts/WhateverGreen.kext/Contents/._MacOS
**/EFI/OC/Tools/._MmapDump.efi
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_1.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_2.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_3.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_4.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_5.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_6.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_7.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_8.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_9.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_AbortTimeout.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ChooseOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Default.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_DiskImage.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_EnterPassword.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ExecutionFailure.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ExecutionSuccessful.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_External.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ExternalOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ExternalTool.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterA.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterB.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterC.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterD.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterE.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterF.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterG.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterH.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterI.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterJ.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterK.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterL.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterM.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterN.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterO.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterP.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterQ.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterR.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterT.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterU.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterV.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterW.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterX.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterY.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_LetterZ.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Loading.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_macOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_macOS_Recovery.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_macOS_TimeMachine.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_macOS_UpdateFw.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_OtherOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_PasswordAccepted.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_PasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_PasswordRetryLimit.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Reloading.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ResetNVRAM.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Restart.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Selected.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_ShowAuxiliary.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Shutdown.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_SIPIsDisabled.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_SIPIsEnabled.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Timeout.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_UEFI_Shell.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Welcome.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_en_Windows.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_1.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_2.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_3.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_4.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_5.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_6.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_7.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_8.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_9.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_AbortTimeout.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ChooseOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Default.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_DiskImage.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_EnterPassword.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ExecutionFailure.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ExecutionSuccessful.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_External.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ExternalOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ExternalTool.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterA.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterB.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterC.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterD.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterE.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterF.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterG.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterH.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterI.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterJ.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterK.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterL.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterM.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterN.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterO.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterP.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterQ.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterR.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterT.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterU.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterV.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterW.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterX.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterY.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_LetterZ.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Loading.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_macOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_macOS_Recovery.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_macOS_TimeMachine.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_macOS_UpdateFw.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_OtherOS.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_PasswordAccepted.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_PasswordIncorrect.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_PasswordRetryLimit.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Reloading.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ResetNVRAM.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Restart.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Selected.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_ShowAuxiliary.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Shutdown.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_SIPIsDisabled.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_SIPIsEnabled.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Timeout.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_UEFI_Shell.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Welcome.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_ru_Windows.mp3
**/EFI/OC/Resources/Audio/._OCEFIAudio_VoiceOver_Boot.mp3
**/EFI/OC/Tools/._OpenControl.efi
**/EFI/OC/Drivers/._OpenHfsPlus.efi
**/EFI/OC/Drivers/._OpenRuntime.efi
**/EFI/OC/Tools/._OpenShell.efi
**/EFI/OC/Resources/Label/._Other.l2x
**/EFI/OC/Resources/Label/._Other.lbl
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Password.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Password.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Password.icns
**/EFI/OC/Resources/Label/._ResetNVRAM.l2x
**/EFI/OC/Resources/Label/._ResetNVRAM.lbl
**/EFI/OC/Tools/._ResetSystem.efi
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Restart.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Restart.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Restart.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Right.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Right.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Right.icns
**/EFI/OC/Tools/._RtcRw.efi
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Selected.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Selected.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Selected.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Selector.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Selector.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Selector.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._SetDefault.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._SetDefault.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._SetDefault.icns
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Shell.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Shell.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Shell.icns
**/EFI/OC/Resources/Label/._Shell.l2x
**/EFI/OC/Resources/Label/._Shell.lbl
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._ShutDown.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._ShutDown.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._ShutDown.icns
**/EFI/OC/Resources/Label/._SIPDisabled.l2x
**/EFI/OC/Resources/Label/._SIPDisabled.lbl
**/EFI/OC/Resources/Label/._SIPEnabled.l2x
**/EFI/OC/Resources/Label/._SIPEnabled.lbl
**/EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/._SMCProcessor
**/EFI/OC/Kexts/._SMCProcessor.kext
**/EFI/OC/Kexts/SMCSuperIO.kext/Contents/MacOS/._SMCSuperIO
**/EFI/OC/Kexts/._SMCSuperIO.kext
**/EFI/OC/Resources/Image/Acidanthera/._Syrah
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Tool.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Tool.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Tool.icns
**/EFI/OC/Resources/Label/._Tool.l2x
**/EFI/OC/Resources/Label/._Tool.lbl
**/EFI/OC/Tools/._TpmInfo.efi
**/EFI/OC/Kexts/USBInjectAll.kext/Contents/MacOS/._USBInjectAll
**/EFI/OC/Kexts/._USBInjectAll.kext
**/EFI/OC/Kexts/._USBPorts.kext
**/EFI/OC/Kexts/VirtualSMC.kext/Contents/MacOS/._VirtualSMC
**/EFI/OC/Kexts/._VirtualSMC.kext
**/EFI/OC/Kexts/WhateverGreen.kext/Contents/MacOS/._WhateverGreen
**/EFI/OC/Kexts/._WhateverGreen.kext
**/EFI/OC/Resources/Image/Acidanthera/Chardonnay/._Windows.icns
**/EFI/OC/Resources/Image/Acidanthera/GoldenGate/._Windows.icns
**/EFI/OC/Resources/Image/Acidanthera/Syrah/._Windows.icns
**/EFI/OC/Resources/Label/._Windows.l2x
**/EFI/OC/Resources/Label/._Windows.lbl
